@model 業務報告システム.Models.Report

@{
    ViewData["Title"] = "Create";
    DateTime today = DateTime.Now;
    string formatToday = today.ToString("yyyy-MM-dd");
}

<div class="container-uindex">
    <h1 class="text-center">報告の作成</h1>
    <div class="container-form">

        @* <p>※後で未達成のタスク一覧を選択して代入する選択肢も追加必要あり？要検討</p> *@

        <form method="post" action="">
            <div class="form-group">
                <label class="control-label">日付</label>
                <input name="values" class="form-control" type="date" value="@formatToday" min="2000-01-01" max="2100-12-31" />
            </div>
            <div class="form-group">
                <label class="control-label">勤怠</label>
                <select name="values" class="form-control">
                    <option value="出勤">出勤</option>
                    <option value="有給">有給</option>
                    <option value="早退">早退</option>
                    <option value="遅刻">遅刻</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label pt-2 pb-2">出社時間</label>
                <div class="d-flex">
                <div>
                    <label class="control-label">時間</label>
                    <select name="values" class="form-control" type="time">
                        @for (int i = 0; i <= 23; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
               <div>
                    <label class="control-label">分</label>
                    <select name="values" class="form-control" type="time">
                        <option value="0">00</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                    </select>

               </div>
                </div>
                
            </div>
            <div class="form-group">
                <label class="control-label pt-2 pb-2">退勤時間</label>
                <div class="d-flex">
                    <div>
                        <label class="control-label">時間</label>
                        <select name="values" class="form-control" type="time">
                            @for (int i = 0; i <= 23; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>


                    </div>
                    <div>
                        <label class="control-label">分</label>
                        <select name="values" class="form-control" type="time">
                            <option value="0">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                    </div>

                </div>
               
            </div>
            <div class="form-group pt-2 pb-2">
                <label class="control-label">体調</label>
                <input name="values" type="radio" value="1" /> <img class="select-icon" src="/images/bad.png" />
                <input name="values" type="radio" value="2" /> <img class="select-icon" src="/images/soso.png" />
                <input name="values" type="radio" value="3" checked /> <img class="select-icon" src="/images/fine.png">
                <input name="values" type="radio" value="4" /> <img class="select-icon" src="/images/good.png" />
                <input name="values" type="radio" value="5" /> <img class="select-icon" src="/images/great.png" />
            </div>
            <div class="form-group">
                <label class="control-label">体調コメント(50文字以内)</label>
                <input name="values" class="form-control" maxlength="50"/>
            </div>
            <div class="form-group">
                <label class="control-label">報告内容(400文字以内)</label>
                <textarea name="values" class="form-control" maxlength="400"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">明日やること(200文字以内)</label>
                <textarea name="values" class="form-control" maxlength="200"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="作成" class="w-100 btn btn-lg btn-warning" />
            </div>
        </form>
        <a asp-action="MemIndex">報告一覧に戻る</a>
    </div>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
