@model 業務報告システム.ViewModels.ReportDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>@Model.User.LastName @Model.User.FirstName</p>
<p>@Model.Report.Date</p>
<p>@Model.Attendance.Status</p>
<p>@Model.Report.Comment</p>
<p>@Model.Report.TomorrowComment</p>
<p>Health Rating: @Model.Attendance.HealthRating</p>

@if (User.IsInRole("Manager") && Model.Feedback == null)
{
    <form method="POST" action="">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label name="values" class="control-label">印象</label>
            <input name="values" type="radio" value="1" /> <img class="select-icon" src="/images/bad.png" />
            <input name="values" type="radio" value="2" checked /> <img class="select-icon" src="/images/fine.png">
            <input name="values" type="radio" value="3" /> <img class="select-icon" src="/images/great.png" />
        </div>
        <div class="form-group">
            <label name="Comment" class="control-label">Comment</label>
            <input name="values" class="form-control" placeholder="コメント"/>
        </div>
        <div class="form-group">
            <input type="submit" value="確認済み" class="btn btn-success" />
        </div>
    </form>
}
else if (User.IsInRole("Member") && Model.Feedback == null)
{
    <p>マネージャー未読です</p>

}
else if (Model.Feedback != null)
{
<p>チェックしたマネージャー：@Model.Feedback.Name</p>    

    @switch (Model.Feedback.Rating)
    {
        case 1:
            <img class="select-icon" src="/images/bad.png" />
            break;
        case 2:
            <img class="select-icon" src="/images/fine.png" />
            break;
        case 3:
            <img class="select-icon" src="/images/great.png" />
            break;
    }

    @if (Model.Feedback.Comment != null)
    {
    <p>@Model.Feedback.Comment</p>    
    }

    @if (User.IsInRole("Manager"))
    {
        <form asp-controller="Feedbacks" asp-action="Delete" onSubmit="return check()">
            <input type="hidden" name="id" value="@Model.Feedback.FeedbackId" />
            <input type="submit" value="削除" class="btn btn-warning" />
        </form>

    }
}