@using System.Security.Claims;
@model 業務報告システム.ViewModels.ReportCRUD;

@{
    ViewData["Title"] = "Edit";
    string status1 = "";
    string status2 = "";
    string status3 = "";
    string status4 = "";
    var shour = Model.Attendance.StartTime.Hour;
    var ehour = Model.Attendance.EndTime.Hour;
    var sminute = Model.Attendance.StartTime.Minute;
    var eminute = Model.Attendance.EndTime.Minute;
    var atd = Model.Attendance.Status;

    switch (Model.Attendance.Status)
    {
        case "出勤":
            status1 = "selected";
            break;
        case "有給":
            status2 = "selected";
            break;
        case "早退":
            status3 = "selected";
            break;
        case "遅刻":
            status4 = "selected";
            break;

    }



}


<div class="container-uindex">
<h1 class="text-center">報告の編集</h1>

<div class="container-form">

        <form method="post" action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="values" value="@Model.Report.ReportId" />

            @* Attendance追記 *@
            <div class="form-group">
                <label class="control-label">日付</label>
                <input name="values" class="form-control" type="date" value="@Model.Report.Date.Year-@Model.Report.Date.Month-@Model.Report.Date.Day"/>
            </div>
            <div class="form-group">
                <label class="control-label">勤怠</label>
                <select name="values" class="form-control" >
                    @switch (Model.Attendance.Status)
                    {
                        case "出勤":
                            <option value="出勤" selected>出勤</option>
                            <option value="有給" >有給</option>
                            <option value="早退" >早退</option>
                            <option value="遅刻" >遅刻</option>
                            break;
                        case "有給":
                            <option value="出勤" >出勤</option>
                            <option value="有給" selected>有給</option>
                            <option value="早退" >早退</option>
                            <option value="遅刻" >遅刻</option>
                            break;
                        case "早退":
                            <option value="出勤" >出勤</option>
                            <option value="有給" >有給</option>
                            <option value="早退" selected>早退</option>
                            <option value="遅刻" >遅刻</option>
                            break;
                        case "遅刻":
                            <option value="出勤" >出勤</option>
                            <option value="有給" >有給</option>
                            <option value="早退" >早退</option>
                            <option value="遅刻" selected>遅刻</option>
                            break;
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label pt-2 pb-2">出社時間</label>
                <div class="d-flex">

                    <div>
                        <label class="control-label">時間</label>
                        <select name="values" class="form-control">
                            @for (int i = 0; i <= 23; i++)
                            {
                                @if (i == shour)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                   
                    <div>
                        <label class="control-label">分</label>
                        <select name="values" class="form-control" type="time">
                            @for (int i = 0; i <= 45; i += 15)
                            {
                                @if (i == sminute)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                <option value="@i">@i</option>
                            }

                        </select>


                    </div>

                </div>

                
            </div>
            <div class="form-group">
                <label class="control-label pt-2 pb-2">退勤時間</label>

                <div class="d-flex">

                    <div>
                        <label class="control-label">時間</label>
                        <select name="values" class="form-control" type="time">
                            @for (int i = 0; i <= 23; i++)
                            {
                                if (i == ehour)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                <option value="@i">@i</option>
                            }
                        </select>
                        
                    </div>

                    <div>
                        <label class="control-label">分</label>
                        <select name="values" class="form-control" type="time">
                            @for (int i = 0; i <= 45; i += 15)
                            {
                                @if (i == eminute)
                                {
                                    <option value="@i" selected>@i</option>
                                }
                                <option value="@i">@i</option>
                            }
                        </select>

                    </div>

                </div>

               
            </div>
            <div class="form-group pt-2 pb-2">
                <label class="control-label">体調</label>
                @switch (Model.Attendance.HealthRating)
                {
                    case 1:
                        <input name="values" type="radio" value="1" checked /> <img class="select-icon" src="/images/bad.png" />
                        <input name="values" type="radio" value="2" /> <img class="select-icon" src="/images/soso.png" />
                        <input name="values" type="radio" value="3"  /> <img class="select-icon" src="/images/fine.png">
                        <input name="values" type="radio" value="4" /> <img class="select-icon" src="/images/good.png" />
                        <input name="values" type="radio" value="5" /> <img class="select-icon" src="/images/great.png" />
                        break;
                    case 2:
                        <input name="values" type="radio" value="1" /> <img class="select-icon" src="/images/bad.png" />
                        <input name="values" type="radio" value="2" checked /> <img class="select-icon" src="/images/soso.png" />
                        <input name="values" type="radio" value="3"  /> <img class="select-icon" src="/images/fine.png">
                        <input name="values" type="radio" value="4" /> <img class="select-icon" src="/images/good.png" />
                        <input name="values" type="radio" value="5" /> <img class="select-icon" src="/images/great.png" />
                        break;
                    case 3:
                        <input name="values" type="radio" value="1" /> <img class="select-icon" src="/images/bad.png" />
                        <input name="values" type="radio" value="2" /> <img class="select-icon" src="/images/soso.png" />
                        <input name="values" type="radio" value="3" checked /> <img class="select-icon" src="/images/fine.png">
                        <input name="values" type="radio" value="4" /> <img class="select-icon" src="/images/good.png" />
                        <input name="values" type="radio" value="5" /> <img class="select-icon" src="/images/great.png" />
                        break;
                    case 4:
                        <input name="values" type="radio" value="1" /> <img class="select-icon" src="/images/bad.png" />
                        <input name="values" type="radio" value="2" /> <img class="select-icon" src="/images/soso.png" />
                        <input name="values" type="radio" value="3"  /> <img class="select-icon" src="/images/fine.png">
                        <input name="values" type="radio" value="4" checked /> <img class="select-icon" src="/images/good.png" />
                        <input name="values" type="radio" value="5" /> <img class="select-icon" src="/images/great.png" />
                        break;
                    case 5:
                        <input name="values" type="radio" value="1" /> <img class="select-icon" src="/images/bad.png" />
                        <input name="values" type="radio" value="2" /> <img class="select-icon" src="/images/soso.png" />
                        <input name="values" type="radio" value="3"  /> <img class="select-icon" src="/images/fine.png">
                        <input name="values" type="radio" value="4" /> <img class="select-icon" src="/images/good.png" />
                        <input name="values" type="radio" value="5" checked /> <img class="select-icon" src="/images/great.png" />
                        break;
                }
            </div>
            <div class="form-group">
                <label class="control-label">体調コメント(50文字以内)</label>
                <input name="values" class="form-control" value="@Model.Attendance.HealthComment" maxlength="50" />
            </div>
            <div class="form-group">
                <label class="control-label">報告内容(400文字以内)</label>
                <textarea name="values" class="form-control" maxlength="400">@Model.Report.Comment</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">明日やること(200文字以内)</label>
                <textarea name="values" class="form-control" maxlength="200">@Model.Report.TomorrowComment</textarea>
            </div>
            <input type="hidden" name="values" value="@Model.Attendance.ReportId" />
            @* ここまで追記 *@

            @* 
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TomorrowComment" class="control-label"></label>
                <input asp-for="TomorrowComment" class="form-control" />
                <span asp-validation-for="TomorrowComment" class="text-danger"></span>
            </div>
                <div class="form-group">
                <input asp-for="UserId" type="hidden" asp-items="@loginUserId" />
            </div>
            *@
            <div class="form-group">
                <input type="submit" value="編集を保存" class="w-100 btn btn-lg btn-warning" />
            </div>
        </form>
        <a asp-action="MemIndex">報告一覧に戻る</a>
    </div>
   


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
