@using System.Security.Claims;
@model 業務報告システム.ViewModels.ReportIndex;
@{
    ViewData["Title"] = "Index";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Index</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Comment
            </th>
            <th>
                HealthRating
            </th>
            @* Attendanceの出勤上表と健康状態を表示 *@
            

            @* Indexの表示には不要
            <th>
                @Html.DisplayNameFor(model => model.TomorrowComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th> *@
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Reports)
        {
                <tr>
                    <td>
                        @item.Date
                        @* @Html.DisplayFor(modelItem => item.Date) *@
                    </td>
                    <td>
                        @item.Comment
                        @* @Html.DisplayFor(modelItem => item.Comment) *@
                    </td>
                    <td>
                        @foreach (var itemA in Model.Attendances)
                        {
                            @if (item.ReportId.Equals(itemA.ReportId))
                            {
                                @itemA.HealthRating
                            }
                         }
                    </td>
                    @* <td>
                        @foreach (var itemA in Model.Attendances)
                        {
                            @if (item.ReportId.Equals(itemA.ReportId))
                            {
                                <a asp-action="Edit" asp-route-id="@item.ReportId">Edit</a> 
                                <a asp-action = "Details" asp-route-id = "@item.ReportId" > Details </a >
                                <a asp-action = "Delete" asp-route-id = "@item.ReportId" > Delete </a >
                               }
                        }
                    </td> *@
                </tr>
        }
    </tbody>
</table>
