@using System.Security.Claims;
@model 業務報告システム.ViewModels.ReportIndex;
@{
    ViewData["Title"] = "MemIndex";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="container-uindex">

<h1>MemIndex</h1>

    <a asp-action="Create">Create New</a>

@* 編集中 *@


     @foreach (var item in Model.Reports)
        {
        <div class="rmi-card">
            <div class="rmi-card-body">

            <h5 class="rmi-card-title">Date: @item.Date.ToString("yyyy/M/d")</h5>
            <p class ="rmi-card-text">Comment:@item.Comment</p>
            <p class="rmi-card-text">
                HealthRating: @foreach (var itemA in Model.Attendances)
            {
                @if (item.ReportId.Equals(itemA.ReportId))
                {
                    @switch (itemA.HealthRating)
                    {
                        case 1:
                            <img class="select-icon" src="/images/bad.png" />
                            break;
                        case 2:
                            <img class="select-icon" src="/images/soso.png" />
                            break;
                        case 3:
                            <img class="select-icon" src="/images/fine.png">
                            break;
                        case 4:
                            <img class="select-icon" src="/images/good.png" />
                            break;
                        case 5:
                            <img class="select-icon" src="/images/great.png" />
                            break;
                    }
                }
            }
            </p>
                @foreach (var itemA in Model.Attendances)
                {
                    @if (item.ReportId.Equals(itemA.ReportId))
                    {
                        <div class="rmi-button-group">
                        <a asp-action="Edit" asp-route-id="@item.ReportId" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ReportId" class="btn btn-primary"> Details </a>
                        <form asp-action="Delete" onsubmit="return check()">
                            <input type="hidden" name="id" value="@item.ReportId" />
                            <input type="submit" value="削除" class="btn btn-danger" />
                        </form>
                        </div>
                    }
                }
            </div>
        </div>
        }
<script>
    function check() {
        if (window.confirm('このレポートを削除しますか？')) {
            return true;
        } else {
            return false;
        }
    }
</script>





@* 編集前　ここから
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Comment
            </th>
            <th>
                HealthRating
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reports)
        {
            <tr>
                <td>
                    @item.Date.ToString("yyyy/M/d")
                </td>
                <td>
                    @item.Comment
                </td>
                <td>
                    @foreach (var itemA in Model.Attendances)
                    {
                        @if (item.ReportId.Equals(itemA.ReportId))
                        {
                            @switch (itemA.HealthRating)
                            {
                                case 1:
                                    <img class="select-icon" src="/images/bad.png" />
                                    break;
                                case 2:
                                    <img class="select-icon" src="/images/soso.png" />
                                    break;
                                case 3:
                                    <img class="select-icon" src="/images/fine.png">
                                    break;
                                case 4:
                                    <img class="select-icon" src="/images/good.png" />
                                    break;
                                case 5:
                                    <img class="select-icon" src="/images/great.png" />
                                    break;
                            }
                        }
                    }
                </td>
                <td>
                    @foreach (var itemA in Model.Attendances)
                    {
                        @if (item.ReportId.Equals(itemA.ReportId))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ReportId">Edit</a> 
                            <a asp-action = "Details" asp-route-id = "@item.ReportId" > Details </a >
                            <form asp-action="Delete" onsubmit="return check()">
                                <input type="hidden" name="id" value="@item.ReportId"/>
                                <input type="submit" value="削除" class="btn btn-danger" />
                            </form>
                            }
                    }
                    <script>
                        function check() {
                            if (window.confirm('このレポートを削除しますか？')) {
                                return true;
                            } else {
                                return false;
                            }
                        }
                    </script>
                </td>
            </tr>
        }
    </tbody>
</table>
編集前　ここまで*@