@model 業務報告システム.ViewModels.MemberMain;

@{
}

<h1>Member Mainページ</h1>

<p>所属プロジェクト</p>
@if (Model.Projects != null)
{
    @foreach (var item in Model.Projects)
    {
        <p>@item.Name</p>

    }
}else
{
<p>所属プロジェクトはありません。</p>    
}


<p>報告先マネージャー</p>
@if (Model.Manager != null)
{
    <p>@Model.Manager.LastName @Model.Manager.FirstName</p>
} else
{
  <p>マネージャーの登録がありません。</p>  
}


<p>前日提出したReport tomorrow comment入力(今日のやること)</p>
@if (Model.Report != null)
{
    <p>@Model.Report.TomorrowComment</p>
} else
{
    <p>昨日提出したレポートが無いため表示できません。</p>
}

<p>未達成Todo一覧</p>
@if(Model.Todos != null)
{
    @foreach (var todo in Model.Todos)
    {
        <p>@todo.TaskName</p>
        <p>@switch (@todo.Progress)
            {
                case 0:
                    <p>0%</p>
                    break;
                case 1:
                    <p>10%</p>
                    break;
                case 2:
                    <p>20%</p>
                    break;
                case 3:
                    <p>30%</p>
                    break;
                case 4:
                    <p>40%</p>
                    break;
                case 5:
                    <p>50%</p>
                    break;
                case 6:
                    <p>60%</p>
                    break;
                case 7:
                    <p>70%</p>
                    break;
                case 8:
                    <p>80%</p>
                    break;
                case 9:
                    <p>90%</p>
                    break;
                case 10:
                    <p>100%</p>
                    break;
            }
                    </p>

        <p>目標開始日：@todo.StartDate</p>
        <p>目標終了日：@todo.EndDate</p>
    }
} else
{
<p>完了していないTodoはありません。</p>
}


