@model 業務報告システム.ViewModels.MemberMain;

@{
}

<h1>Member Mainページ</h1>

<p>所属プロジェクト</p>
@foreach (var item in Model.Projects)
{
    <p>@item.Name</p>
    
}

<p>報告先マネージャー</p>
<p>@Model.Manager.LastName @Model.Manager.FirstName</p>

<p>前日提出したReport tommorow comment入力(今日のやること)</p>
<p>@Model.Report.TommorowComment</p>

<p>未達成Todo一覧</p>
@foreach(var todo in Model.Todos){
    <p>@todo.TaskName</p>
    <p>@todo.Progress</p>
    <p>目標開始日：@todo.StartDate</p>
    <p>目標終了日：@todo.EndDate</p>
}

