@using System.Security.Claims;
@model 業務報告システム.ViewModels.ReportIndex;
@{
    ViewData["Title"] = "MgrIndex";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var uniqueMonths = Model.Reports.Select(x => x.Date.Month).Distinct().ToList();
    var uniqueYears = Model.Reports.Select(x => x.Date.Year).Distinct().ToList();
}

<h2 class="text-center">報告一覧　@ViewBag.MemberName</h2>

<div class="text-center">
    <form asp-controller="Reports" asp-action="MgrIndex" method="get">
        <select name="feedbackSearch">
            <option value="">選択してください</option>
            <option>既読</option>
            <option>未読</option>
        </select>
        <select name="yearMonthSearch">
            <option value="">選択してください</option>
            @foreach (var year in uniqueYears)
            {
                @foreach (var month in uniqueMonths)
                {
                    <option value="@($"{year}-{month:D2}")">
                        @($"{year}年{System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month)}")
                    </option>
                }
            }
        </select>
        <select name="attendanceSearch">
            <option value="">選択してください</option>
            <option>有給</option>
            <option>遅刻</option>
            <option>早退</option>
        </select>
        <input type="submit" value="検索" class="btn btn-info" />
    </form>
    @if (!ViewBag.Condition.Equals(""))
    {
        <p>表示中の検索条件【 @ViewBag.Condition 】</p>
    }
</div>

<div class="container-for-grid">
    @foreach (var item in Model.Reports.OrderByDescending(x => x.Date))
        {
          
        <div class="r-card">

            @{
                string dow = item.Date.ToString("ddd");
            }

            @if (Model.Feedbacks != null)
            {
                int count = 0;

                @foreach (var fb in Model.Feedbacks)
                {
                    @if (fb.ReportId == item.ReportId)
                    {
                        count += 1;    
                    }


                }
                @if (count == 0)
                {
                    <p class="mt-2 text-danger fw-bold">未読</p>
                }

                count = 0;
            }else
            {
                <p class="mt-2 text-danger fw-bold">未読</p>
            }


            <h4>@item.Date.Year 年 @item.Date.Month 月 @item.Date.Day 日 (@dow)</h4>

                    @foreach (var itemA in Model.Attendances)
                    {
                        @if (item.ReportId.Equals(itemA.ReportId))
                        {
                            <h4>@itemA.Status</h4>

                            @switch (itemA.HealthRating)
                            {
                                case 1:
                                    <img class="select-icon" src="/images/bad.png" />
                                    break;
                                case 2:
                                    <img class="select-icon" src="/images/soso.png" />
                                    break;
                                case 3:
                                    <img class="select-icon" src="/images/fine.png">
                                    break;
                                case 4:
                                    <img class="select-icon" src="/images/good.png" />
                                    break;
                                case 5:
                                    <img class="select-icon" src="/images/great.png" />
                                    break;
                            }
                        }
                    }

                    @foreach (var itemA in Model.Attendances)
                    {
                        @if (item.ReportId.Equals(itemA.ReportId))
                        {
                            <a asp-action="Details" asp-route-id="@item.ReportId" class="btn btn-warning">詳細</a>
                        }
                    }
            
        </div>
    }

</div>
