@using System.Security.Claims;
@model 業務報告システム.ViewModels.ReportIndex;
@{
    ViewData["Title"] = "MgrIndex";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);

}

<h2 class="text-center">報告一覧　@ViewBag.MemberName</h2>
<div class="container-for-grid">
        @foreach (var item in Model.Reports)
        {
          
        <div class="r-card">

            @{
                string dow = item.Date.ToString("ddd");
            }

            <h4>@item.Date.Year 年 @item.Date.Month 月 @item.Date.Day 日 (@dow)</h4>

                    @foreach (var itemA in Model.Attendances)
                    {
                        @if (item.ReportId.Equals(itemA.ReportId))
                        {
                            <h4>@itemA.Status</h4>

                            @switch (itemA.HealthRating)
                            {
                                case 1:
                                    <img class="select-icon" src="/images/bad.png" />
                                    break;
                                case 2:
                                    <img class="select-icon" src="/images/soso.png" />
                                    break;
                                case 3:
                                    <img class="select-icon" src="/images/fine.png">
                                    break;
                                case 4:
                                    <img class="select-icon" src="/images/good.png" />
                                    break;
                                case 5:
                                    <img class="select-icon" src="/images/great.png" />
                                    break;
                            }
                        }
                    }

                    @foreach (var itemA in Model.Attendances)
                    {
                        @if (item.ReportId.Equals(itemA.ReportId))
                        {
                            <a asp-action="Details" asp-route-id="@item.ReportId" class="btn btn-warning">詳細</a>
                        }
                    }
            
        </div>
    }

</div>