@model 業務報告システム.ViewModels.ManagerMain;

@{
}

<h1>Manager Main ページ</h1>

<h1>自分のプロジェクト名表示</h1>
@foreach(var project in Model.Projects)
{
<p>@project.Name</p>    

}

<h1>自分のチームメンバーの前日のレポート未提出者リストを表示</h1>
@if (Model.ReportNotSubmit != null)
{
    @foreach (var user in Model.ReportNotSubmit)
    {
        <p>@user.LastName @user.FirstName</p>

    }
}


<h1>自分のチームメンバーの未達成Todoリスト</h1>

@if (Model.Todos != null)
{
    @foreach (var todo in Model.Todos)
    {
        <p>@todo.TaskName</p>
        <p>progress: 
            @switch (@todo.Progress)
            {
                case 0:
                    <p>0%</p>
                    break;
                case 1:
                    <p>10%</p>
                    break;
                case 2:
                    <p>20%</p>
                    break;
                case 3:
                    <p>30%</p>
                    break;
                case 4:
                    <p>40%</p>
                    break;
                case 5:
                    <p>50%</p>
                    break;
                case 6:
                    <p>60%</p>
                    break;
                case 7:
                    <p>70%</p>
                    break;
                case 8:
                    <p>80%</p>
                    break;
                case 9:
                    <p>90%</p>
                    break;
                case 10:
                    <p>100%</p>
                    break;
            }
                    </p>
    }
}


<h1>今日提出されたレポートの一覧</h1>

@if (Model.Reports != null)
{
    @foreach (var report in Model.Reports)
    {
        @foreach (var user in Model.Members)
        {
            @if (report.UserId.Equals(user.Id))
            {
                <a asp-action="Details" asp-route-id="@user.Reports.First().ReportId">@user.LastName @user.FirstName</a>
            }
        }       
        <p>@report.Comment</p>

        @foreach (var attendance in Model.Attendances)
        {
            @if (attendance.ReportId == report.ReportId)
            {
                <p>HealthRating : @attendance.HealthRating</p>
            }

        }

    }

}

