@model 業務報告システム.ViewModels.ManagerMain;

@{
    DateTime today = DateTime.Today;
    string doww = today.ToString("ddd");
    string todays = $"{today.Year}年{today.Month}月{today.Day}日({doww})";
    string title = $"{todays}の報告一覧";
}

<div class="mgr-container">
    <h3 class="text-center">管理中のプロジェクト</h3>

    <div class="mgr-container-sub">



        @foreach (var project in Model.Projects)
        {
            <h2 class="text-center">@project.Name</h2>
        }

    </div>
</div>

<div class="mgr-container">
    <h3 class="text-center">@title</h3>
    <p class="text-center">メンバー名クリックで報告の詳細にアクセス</p>

    @if (Model.Reports != null)
    {
        @foreach (var report in Model.Reports)
        {
            <div class="unfinish-todos">
                <div class="d-flex justify-content-center">
                    @foreach (var user in Model.Members)
                    {
                        @if (report.UserId.Equals(user.Id))
                        {
                            @if (Model.Feedbacks != null)
                            {
                                int count = 0;
                                @foreach (var fb in Model.Feedbacks)
                                {
                                    @if (fb.ReportId == report.ReportId)
                                    {
                                        count += 1;
                                    }
                                }
                                @if (count == 0)
                                {
                                    <p class="mt-2 text-danger fw-bold me-3">未読</p>
                                }
                                count = 0;
                            }
                            else
                            {
                                <p class="mt-2 text-danger fw-bold me-3">未読</p>
                            }
                            <a asp-action="Details" asp-route-id="@user.Reports.First().ReportId" class="me-3">
                                <h3 class="mt-2">@user.LastName @user.FirstName</h3>
                            </a>
                        }
                     }
                    @foreach (var attendance in Model.Attendances)
                    {
                        @if (attendance.ReportId == report.ReportId)
                        {
                            <div class="d-flex">
                                <p class="me-3 mt-3">出勤状況 : @attendance.Status</p>
                                @switch (@attendance.HealthRating)
                                {
                                    case 1:
                                        <img class="select-icon" src="/images/bad.png" />
                                        break;
                                    case 2:
                                        <img class="select-icon" src="/images/soso.png" />
                                        break;
                                    case 3:
                                        <img class="select-icon" src="/images/fine.png">
                                        break;
                                    case 4:
                                        <img class="select-icon" src="/images/good.png" />
                                        break;
                                    case 5:
                                        <img class="select-icon" src="/images/great.png" />
                                        break;
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</div>

<div class="mgr-main-contents">

    <div class="mgrmain-flexcontents">

        @{
            string zenjitsu = "昨日の報告未提出者一覧";
            DateTime yesterday = DateTime.Today.AddDays(-1);
            if (yesterday.ToString("ddd").Equals("日") || yesterday.ToString("ddd").Equals("土"))
            {
                zenjitsu = "金曜日の報告未提出者一覧";
            }

        }

        <h3 class="text-center">@zenjitsu</h3>
       

            @if (Model.ReportNotSubmit != null)
            {
                @foreach (var user in Model.ReportNotSubmit)
                {
                    <div class="unfinish-todos">
                    <h4 class="text-center">@user.LastName @user.FirstName</h4>
                    </div>

                }
            }

    </div>

    <div class="mgrmain-flexcontents">
    <h3 class="text-center">メンバーの未達成タスク一覧</h3>

    @if (Model.Members != null)
    {
        @foreach (var user in Model.Members)
        {
          <h4 class="text-center">@user.LastName @user.FirstName</h4>      
            
    @if (Model.Todos != null)
    {
        @foreach (var todo in Model.Todos)
        {
            @if (todo.UserId.Equals(user.Id))  
            {
                            
                        
           
                        <div class="unfinish-todos">
                    <div class="d-flex justify-content-start">
                        <div style="max-width:300px;">
            <p class="fw-bold me-2">@todo.TaskName</p>
                        </div>
                @switch (@todo.Progress)
                {
                    case 0:
                    <p class="text-danger fw-bold">進捗 : 0%</p>
                        break;
                    case 1:
                                <p class="text-danger fw-bold">進捗 : 10%</p>
                        break;
                    case 2:
                                <p class="text-danger fw-bold">進捗 : 20%</p>
                        break;
                    case 3:
                                <p class="text-danger fw-bold">進捗 : 30%</p>
                        break;
                    case 4:
                                <p class="text-danger fw-bold">進捗 : 40%</p>
                        break;
                    case 5:
                                <p class="fw-bold">進捗 : 50%</p>
                        break;
                    case 6:
                                <p class="fw-bold">進捗 : 60%</p>
                        break;
                    case 7:
                                <p class="fw-bold">進捗 : 70%</p>
                        break;
                    case 8:
                                <p class="fw-bold text-success">進捗 : 80%</p>
                        break;
                    case 9:
                                <p class="fw-bold text-success">進捗 : 90%</p>
                        break;
                    case 10:
                                <p class="fw-bold text-success">進捗 : 100%</p>
                        break;
                }
                    </div>

                    @{
                        string dow = todo.EndDate.ToString("ddd");
                    }

                <p class="mt-0">目標完了日 : @todo.EndDate.Year 年 @todo.EndDate.Month 月 @todo.EndDate.Day 日 (@dow)</p>
                </div>
        }
                    }
    }
            }

        }
    </div>

</div>





