@model 業務報告システム.Models.ApplicationUser;

@{
}
@if (TempData["AlertEditError"] != null)
{
    <div class="alert alert-danger alert-dismissable fade show m-1" role="alert">
        @TempData["AlertEditError"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (User.IsInRole("Admin"))
{

    <div class="container-uindex">
    <h1 class="text-center">ユーザー編集</h1>

    <div class="container-form">
            <form method="post" action="">

                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                <div class="form-floating">
                    <input name="values" class="form-control" aria-required="true" value="@Model.LastName"/>
                    <label>姓</label>
                    @* <span asp-validation-for="Input.LastName" class="text-danger"></span> *@
                </div>
                <div class="form-floating">
                    <input name="values" class="form-control" aria-required="true" value="@Model.FirstName" />
                    <label>名</label>
                    @* <span asp-validation-for="Input.FirstName" class="text-danger"></span> *@
                </div>
                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                <div class="form-floating">
                    <input name="values" type="email" class="form-control" autocomplete="username" aria-required="true" value="@Model.Email" />
                    <label >Email</label>
                    @* <span asp-validation-for="Input.Email" class="text-danger"></span> *@
                </div>
                <label class="control-label">ロール</label>
                <select name="values" class="form-control" aria-required="true">
                    @switch (Model.Role)
                    {
                    case "Member":
                            <option selected>Member</option>
                            <option>Manager</option>
                            break;
                        case "Manager":
                            <option>Member</option>
                            <option selected>Manager</option>
                            break;
                    }
                </select>
                <div class="form-group">
                    <label class="control-label">プロジェクト</label>
                    <select class="form-control" asp-items="ViewBag.Projects" name="values"></select>
                </div>
                <input type="hidden" name="values" value="@Model.Role"/>
                <div class="form-group">
                    <label class="control-label">パスワードリセット</label>
                    <p class="text-danger mb-0">※パスワードリセットした場合、パスワードが強制的に「User123,」になります。</p>
                    <select name="values">
                        <option selected>リセットしない</option>
                        <option>リセットする</option>
                    </select>
                </div>
               @*  <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div> *@
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-warning">編集情報を保存</button>
            </form>
        </div>
    </div>
}
else
{
    <h1>アクセス権がありません。</h1>

}