@model 業務報告システム.ViewModels.AdminIndex;

@{
    ViewData["Title"] = "Index";
}





@if (TempData["AlertUser"] != null)
{
    <div class="alert alert-success alert-dismissable fade show m-1" role="alert">
        @TempData["AlertUser"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["AlertUserError"] != null)
{
    <div class="alert alert-danger alert-dismissable fade show m-1" role="alert">
        @TempData["AlertUserError"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container-uindex fadeIn">

<h1 class="text-center">ユーザー一覧</h1>

    <div class="button-container">
            <a class="btn btn-warning" asp-controller="Projects" asp-action="Index">プロジェクト管理</a>

            <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Register">ユーザー作成</a>
    </div>

    <div class="text-center">
    <form asp-controller="Home" asp-action="Index" method="get">
        <input name="search" type="text" placeholder="検索キーワードを入力"/>
        <select name="search">
                <option>名前</option>
                <option>メールアドレス</option>
                <option>ロール</option>
                <option>プロジェクト</option>
        </select>
        <input type="submit" value="検索" class="btn btn-info"/>
    </form>
    </div>

    <div class="container-for-grid">
@foreach (var user in Model.Users)
{
    <div class="u-card">
        <div class="u-info">
        <h3>名前：@user.LastName @user.FirstName</h3>
        <p>メールアドレス：@user.Email</p>
        <p>ロール：@user.Role</p>
    <p>参加中プロジェクト:</p>
    @if (Model.UserProjects != null)
    {
        @foreach (var up in Model.UserProjects)
        {
            @if (up.UserId.Equals(user.Id))
            {
                @foreach (var pj in Model.Projects)
                {
                    @if (up.ProjectId == pj.ProjectId)
                    {
                        <p>@pj.Name</p>
                    }
                }

            }

        }

    }
    else
    {
        <p>参加中プロジェクトはありません</p>
    }
            </div>
            <div class="u-button">
    @if (!(user.Role.Equals("Admin")))
    {
        <a asp-controller="Home" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning">編集</a>
    }

        <form asp-action="Delete" onSubmit="return check()">
            <input type="hidden" name="id" value="@user.Id" />
            <input type="submit" value="削除" class="btn btn-danger" />
        </form>
            </div>

        </div>
    
}
    </div>
</div>

<script>
    function check() {
        if (window.confirm('このユーザーを削除しますか？')) {
            return true;
        } else {
            return false;
        }
    }

</script>