@model IEnumerable<ReportSystem.Models.Project>

@{
}
@if (TempData["AlertProject"] != null)
{
    <div class="alert alert-success alert-dismissable fade show m-1" role="alert">
        @TempData["AlertProject"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container-uindex">
<h1 class="text-center">プロジェクト一覧</h1>

<div class="text-center">
<a class="btn btn-warning" asp-action="Create">プロジェクト作成</a>
    </div>
    <div class="container-for-grid">
@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="u-card">
            <div class="u-info">
        <h3>@item.Name</h3>

        @if (item.UserProjects != null)
        {
            @foreach (var user in item.UserProjects)
            {
                <p>ユーザーID : @user.UserId</p>
            }
        }
                </div>
       
        <div class="d-flex justify-content-between flex-column me-2">
        <a asp-action="Details" asp-route-id="@item.ProjectId" class="btn btn-info">参加者一覧</a>

        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ProjectId">編集</a>

        <form asp-controller="Projects" asp-action="Delete" onSubmit="return check()">
            <input type="hidden" name="id" value="@item.ProjectId" />
            <input type="submit" value="削除" class="btn btn-danger" />
        </form>
        </div>
            </div>
            
    }
    
}
    </div>
</div>

<script>
    function check() {
        if (window.confirm('このプロジェクトを削除しますか？')) {
            return true;
        } else {
            return false;
        }
    }

</script>