@using System.Security.Claims;
@model IEnumerable<業務報告システム.Models.Todo>

@{
    ViewData["Title"] = "Index";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
@if (TempData["AlertTodo"] != null)
{
    <div class="alert alert-success alert-dismissable fade show m-1" role="alert">
        @TempData["AlertTodo"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>TodoIndex</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            @if (loginUserId.Equals(item.UserId))
            {
                <div class="col-md-4">
                    <div class="card position-relative" onmouseover="showHidden(this)" onmouseout="hideHidden(this)">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div class="d-flex justify-content-center">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.TaskName)</h5>
                                        <p class="card-text">進捗: @item.Progress%</p>
                                    </div>
                                    <p class="card-text custom-hidden" style="display: none;">開始日: @Html.DisplayFor(modelItem => item.StartDate)</p>
                                    <p class="card-text custom-hidden" style="display: none;">終了日: @Html.DisplayFor(modelItem => item.EndDate)</p>
                                    <p class="card-text custom-hidden" style="display: none;">コメント: @Html.DisplayFor(modelItem => item.Comment)</p>
                                </div>
                                <div class="d-flex justify-content-center align-items-end">
                                    <a href="@Url.Action("Edit", new { id = item.TodoId })" class="btn btn-primary me-1">Edit</a>
                                    <form asp-action="Delete" onSubmit="return check()">
                                        <input type="hidden" name="id" value="@item.TodoId" />
                                        <button type="submit" class="btn btn-danger">削除</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
    function check() {
        if (window.confirm('このタスクを削除しますか？')) {
            return true;
        } else {
            return false;
        }
    }

    function showHidden(card) {
        var hiddenElements = card.getElementsByClassName("custom-hidden");
        for (var i = 0; i < hiddenElements.length; i++) {
            hiddenElements[i].style.display = "block";
        }
    }

    function hideHidden(card) {
        var hiddenElements = card.getElementsByClassName("custom-hidden");
        for (var i = 0; i < hiddenElements.length; i++) {
            hiddenElements[i].style.display = "none";
        }
    }
</script>
