@using System.Security.Claims;
@model IEnumerable<業務報告システム.Models.Todo>

@{
    ViewData["Title"] = "Index";
    var loginUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in @Model)
{
    @if (loginUserId.Equals(item.UserId))
    {
        @item.TaskName<br />
    }
    else if (loginUserId == null)
    {
        <p>タスクはありません</p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TodoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TodoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TodoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
