@model ReportSystem.ViewModels.TodoIndex;

@{
}
@if (TempData["AlertTodo"] != null)
{
    <div class="alert alert-success alert-dismissable fade show m-1" role="alert">
        @TempData["AlertTodo"]
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="mgr-center">
    @foreach (var project in Model.Projects)
    {
        <h1 class="mgrmain">プロジェクト名： @project.Name </h1>
    }
    <a asp-action="MgrCreate" class="btn btn-warning">新規作成</a>
</div>

<!-- 進捗の検索フォーム -->
<div class="text-center">
    <form asp-controller="Todos" asp-action="MgrIndex" method="get">
        <select name="progressFilter">
             <option>進捗(全て表示)</option>
            <option>未完了のタスクのみ表示</option>
            <option>完了済のタスクのみ表示</option>
        </select>
        <input type="submit" value="検索" class="btn btn-info" />
    </form>
</div>



<div class="mgr-center">
    @foreach (var user in Model.Users)
    {
        var userDivId = "user-" + user.Id;
        <h3 class="mgrname">@user.LastName @user.FirstName <button class="toggle-details btn btn-info" data-target="details-@user.Id">詳細表示</button></h3>
        if (user.Todos != null)
        {
            @foreach (var todo in user.Todos)
            {
                @if (todo.UserId.Equals(user.Id))
                {
                    <div>
                        <div class="card">
                            @* <div class="card-body"> *@
                            @* <div class="d-flex justify-content-between"> *@
                            <div>
                                <div class="d-flex justify-content-between p-3" name="@userDivId" style="display: none;">
                                    @* <div class="d-flex justify-content-between"> *@
                                        <div style="width:250px;">
                                            <h5 class="fw-bold mt-2 text-start">@todo.TaskName</h5>
                                        </div>
                                        @switch (@todo.Progress)
                                        {
                                            case 0:
                                                <p class="text-danger fw-bold mt-2">進捗 : 0%</p>
                                                break;
                                            case 1:
                                                <p class="text-danger fw-bold mt-2">進捗 : 10%</p>
                                                break;
                                            case 2:
                                                <p class="text-danger fw-bold mt-2">進捗 : 20%</p>
                                                break;
                                            case 3:
                                                <p class="text-danger fw-bold mt-2">進捗 : 30%</p>
                                                break;
                                            case 4:
                                                <p class="text-danger fw-bold mt-2">進捗 : 40%</p>
                                                break;
                                            case 5:
                                                <p class="fw-bold mt-2">進捗 : 50%</p>
                                                break;
                                            case 6:
                                                <p class="fw-bold mt-2">進捗 : 60%</p>
                                                break;
                                            case 7:
                                                <p class="fw-bold mt-2">進捗 : 70%</p>
                                                break;
                                            case 8:
                                                <p class="fw-bold text-success mt-2">進捗 : 80%</p>
                                                break;
                                            case 9:
                                                <p class="fw-bold text-success mt-2">進捗 : 90%</p>
                                                break;
                                            case 10:
                                                <p class="fw-bold text-success mt-2">進捗 : 100%</p>
                                                break;
                                        }

                                        <div>
                                            <form asp-controller="Todos" asp-action="Edit" asp-route-id="@todo.TodoId" method="get">
                                                <input type="submit" value="編集" class="btn btn-warning me-2" />
                                            </form>
                                        </div>
                                    @* </div> *@
                                </div>
                                <div class="details" name="details-@user.Id" style="display: none;">
                                    <div class="text-start p-3">
                                        <p>開始日: @Html.DisplayFor(modelItem => todo.StartDate)</p>
                                        <p>終了日: @Html.DisplayFor(modelItem => todo.EndDate)</p>
                                        <p>詳細: @Html.DisplayFor(modelItem => todo.Comment)</p>
                                    </div>
                                </div>
                            </div>

                            @* </div> *@
                            @* </div> *@
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <p>タスクがありません</p>
        }
    }
</div>
<script>
    const toggleButtons = document.querySelectorAll(".toggle-details");
    toggleButtons.forEach(button => {
        button.addEventListener("click", () => {
            const targetId = button.getAttribute("data-target");
            const details = document.getElementsByName(targetId);
            for (let i = 0; i < details.length; i++) {
                if (details[i].style.display === "none") {
                    details[i].style.display = "block";
                    button.textContent = "詳細非表示";
                } else {
                    details[i].style.display = "none";
                    button.textContent = "詳細表示";
                }
            }
        });
    });
</script>
