@model 業務報告システム.ViewModels.TodoIndex;

@{
}

<a asp-action="MgrCreate" class="btn btn-danger">MgrCreate</a>

@foreach (var project in Model.Projects)
{
    <p>プロジェクト名　： @project.Name </p>

}

@foreach (var user in Model.Users)
{
    var userDivId = "user-" + user.Id;
    <p class="mgrname">@user.LastName @user.FirstName <button class="toggle-details" data-target="details-@user.Id">詳細を表示</button></p>    if (user.Todos != null)
    {
        @foreach (var todo in user.Todos) @* Model.Todos *@
        {
            @if (todo.UserId.Equals(user.Id))
            {
                <div class="container">
                    <div  class="mgrcard">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div  class="d-flex justify-content-center"  id="@userDivId" style="display: none;">
                                    <p>@todo.TaskName</p>
                                    <p>@(todo.Progress*10)%</P> 
                                </div>
                                <div class="details" id="details-@user.Id" style="display: none;">
                                    <p >開始日: @Html.DisplayFor(modelItem => todo.StartDate)</p>
                                    <p >終了日: @Html.DisplayFor(modelItem => todo.EndDate)</p>
                                    <p >コメント: @Html.DisplayFor(modelItem => todo.Comment)</p>
                                 </div>
                            </div>
                             <div>
                                <form asp-controller="Todos" asp-action="Edit" asp-route-id="@todo.TodoId" method="get">
                                    <input type="submit" value="編集" class="btn btn-warning" />
                                </form>
                            </div>
                        </div>
                    </div>
               </div>
            }
        }
    }
    else
    {
        <p>タスクがありません</p>
    }
}

<script>
    const toggleButtons = document.querySelectorAll(".toggle-details");

    toggleButtons.forEach(button => {
        button.addEventListener("click", () => {
            const targetId = button.getAttribute("data-target");
            const details = document.getElementById(targetId);

            if (details.style.display === "none") {
                details.style.display = "block";
                button.textContent = "詳細を非表示";
            } else {
                details.style.display = "none";
                button.textContent = "詳細を表示";
            }
        });
    });
</script>
